{% extends "base.html" %}

{% block content %}
    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li class="active"><a href="{{ url_for('admin_user') }}">Users</a></li>
        <li><a href="{{ url_for('admin_access') }}">Access Log</a></li>
    </ul>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Avatar</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Logins</th>
                    <th class="text-center">Flags</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    {% for user in users %}
                        <tr class="middle">
                            <td class="text-center">{{ user.user_id }}</td>
                            <td class="text-center"><img src="{{ user.email | gravatar(size=48) }}"></td>
                            <td class="text-center">{{ user.username }}</td>
                            <td class="text-center"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            <td class="text-center">{{ user.access_tokens.count() }}</td>
                            <td class="text-center">
                                {% if not user.enabled %}
                                    <span class="label label-danger">Disabled</span>
                                {% endif %}
                                {% if not user.verified %}
                                    <span class="label label-warning">Unverified</span>
                                {% endif %}
                                {% if user.admin %}
                                    <span class="label label-primary">Admin</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan=6 style="text-align: center;">
                            No users to display.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
